<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.pichs.shanhai.downloader.DownloadHomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation|screenLayout|fontScale|locale|mcc|mnc|uiMode|density|colorMode|layoutDirection|touchscreen|smallestScreenSize|fontWeightAdjustment"
            android:launchMode="singleTop"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <provider
            android:name="com.liulishuo.okdownload.OkDownloadProvider"
            android:authorities="${applicationId}.com.liulishuo.okdownload"
            android:exported="false"/>

    </application>

</manifest>